body {
    background: -webkit-linear-gradient(#eee, #ffffff);

}


.jumbotron {
        background-image: url("../images/research.jpg");
        background-size: 100% 100%;
        text-align: center;
}


.shadow {
    -moz-box-shadow: 5px 5px 5px #ccc;
    -webkit-box-shadow: 5px 5px 5px #ccc;
    box-shadow: 5px 5px 5px #ccc;
    }
